.footer {
  position: relative;
  padding-top: 105px;
  padding-bottom: 57px;
  background-color: $night;

  @include r($mobile) {
    padding-top: 41px;
    padding-bottom: 89px;
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include r($mobile) {
      gap: 48px;
    }
  }

  &__meta {
    display: grid;
    grid-template-columns: 228px 228px;
    gap: 60px 45px;

    @include r($mobile) {
      display: flex;
      flex-direction: column;
      gap: 42px;
    }
  }

  &__decor {
    position: absolute;
    right: 61%;
    bottom: 0;
    display: flex;
    width: 749px;
    height: 888px;

    @include r($mobile) {
      right: initial;
      left: -86px;
      width: 510px;
      height: 604px;
    }
  }

  &__picture {
    display: flex;
    @include r($mobile) {
      width: 438px;
      height: 440px;
    }
  }
}