.section {
  &--bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--intro {
    min-height: 1080px;
    max-height: 1080px;
    background-image: url("../assets/images/intro-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include r($mobile) {
      min-height: 830px;
      max-height: 830px;
    }
  }
}