.slider {
  &--auto {
    .swiper {
      @include r($mobile) {
        overflow: visible;
      }
    }

    .swiper-slide {
      @include r($mobile) {
        max-width: 295px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 80px;

    @include r($mobile) {
      margin-bottom: 60px;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 10px;

    @include r($mobile) {
      display: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 21px;
    background-color: $red;
    cursor: pointer;
    transition: .2s linear;

    &--prev {
      transform: rotate(180deg);
    }

    &:hover,
    &:focus {
      color: $red;
      background-color: $white;

      .slider__icon {
        fill: $red;
      }
    }

    &:active {
      color: $white;
      background-color: #DA0909;

      .slider__icon {
        fill: $white;
      }
    }

    &--disabled {
      pointer-events: none;
      background-color: #212121;
    }
  }

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
    fill: $white;
  }

  &--animate {
    .swiper-slide {
      width: auto;
    }

    .swiper-wrapper {
      transition-timing-function: linear;
      align-items: center;
    }
  }
}