.intro {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 270px;
  height: 100%;

  @include r($mobile) {
    padding-top: 190px;
  }

  &__title {
    font-size: 74px;
    font-weight: 400;
    line-height: 74px;
    color: $white;

    @include r($mobile) {
      font-size: 37px;
      line-height: 37px;
    }

    &--top {
      margin-bottom: 18px;

      @include r($mobile) {
        margin-bottom: 12px;
      }
    }

    &--middle {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 27px 37px;
      background-color: $blue;

      @include r($mobile) {
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
        justify-content: flex-start;
      }
    }

    &--bottom {
      position: relative;
      top: -5px;
      left: -88px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      width: max-content;
      padding: 27px 19px;
      background-color: $red;
      transform: rotate(-6.92deg);

      @include r($mobile) {
        top: -12px;
        left: 5px;
        padding: 17px 21px;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 47px;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    max-width: 898px;
  }

  &__text {
    margin-left: 471px;
    max-width: 315px;

    font-family: $font-accent;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;

    @include r($mobile) {
      display: none;
    }
  }

  &__picture {
    position: absolute;
    top: 94px;
    left: -152px;
    pointer-events: none;
    z-index: 1;

    @include r($mobile) {
      top: 133px;
      left: -85px;
      width: 492px;
    }
  }

  &__abstract {
    position: absolute;
    top: -78px;
    right: 55px;
    transform: rotate(6.71deg);
    pointer-events: none;
    z-index: 0;

    @include r($mobile) {
      top: -241px;
      right: -143px;
      width: 801px;
    }
  }
}